/* https://palettes.shecodes.io/palettes/1113#palette */

body {
  background: #ffebd364;
}

h1 {
  color: #264e70;
  margin: 50px 0 30px 0;
}

form {
  margin: 30px 0 80px 0;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.Results,
.Photos {
  background-color: white;
  padding: 50px 8% 0 8%;
}
